<div class="card-panel" id="new">
    <h4>Add a new note</h4>
    <form class="row">
        <div class="input-field col s12">
            <textarea id="content" class="materialize-textarea" ng-model="content"></textarea>
            <label for="content">Note</label>
        </div>
        <button class="btn waves-effect waves-light col s6 offset-s3 m4 offset-m4" type="submit" name="save" ng-click="saveNote()">Save
            <i class="material-icons right">add_circle</i>
        </button>
    </form>
</div>